# Environment variables
.env
.env.local
.env.*.local

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
vendor/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pem

# Ansible

ansible/hosts
ansible/group_vars/*/vault.yml
ansible/host_vars/*/vault.yml
ansible/templates/*.env
ansible/.vault_pass
ansible/*.retry

# Build outputs
bin/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfvars.json
**/*.tfplan
**/*.tfplan.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc

# Terraform crash logs
**/crash.log
**/crash.*.log
*.pem

# Terraform state and sensitive files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
terraform.tfplan
