[Unit]
Description=Stock Recommender Application
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ app_directory }}
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
ExecReload=/usr/local/bin/docker-compose restart
TimeoutStartSec=0
User={{ ansible_user }}
Group={{ ansible_user }}

[Install]
WantedBy=multi-user.target 