all:
  hosts:
    stock-recommender-server:
      ansible_host: "YOUR_SERVER_IP"
      ansible_user: "ubuntu"
      ansible_ssh_private_key_file: "../terraform/stock-recommender-key.pem"
      ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
      ansible_port: 22
      
  vars:
    # EC2 Configuration
    ec2_public_ip: "YOUR_SERVER_IP"
    admin_username: "ubuntu"
    
    # Application Configuration
    app_name: "stock-recommender"
    app_directory: "/opt/stock-recommender"

    environment: "production" 